<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezultate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<style>
    .chartContainer {
        width: 40vw;
        height: auto;
    }

    .container {
        text-align: center;
        margin: 0 auto;
    }

    .container1 {
        margin-top: 50px;
    }

    canvas {
        margin-bottom: 150px;
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 700px) {
        .chartContainer {
            width: 100vw;
        }
    }
</style>

<body>

    <div class="container container1">
        <h1>Rezultate Sondaj</h1>
    </div>

    <div class="container container1">
        <h2 style="text-decoration: underline;">Influența alimentației asupra performanței academice</h2>
        <ul style="text-align: left;">
            <li>Grupa C are cea mai mare sumă a performanței, indicând o performanță globală mai bună în comparație cu
                celelalte grupuri.</li>
            <li>Grupa C are o medie a performanței mai mare decât celelalte grupuri. Acest lucru sugerează că
                alimentația poate influența performanța.</li>
            <li>Performanța pare să fie influențată de alimentație.</li>
            <li>Grupa C prezintă cele mai bune rezultate.</li>
        </ul>
        <img src="1.png" alt="">
    </div>


    <div class="container container1">
        <h2 style="text-decoration: underline;">Influența sportului asupra performanței academice</h2>
        <ul style="text-align: left;">
            <li>Performanța pare să fie influențată de sport.</li>
            <li>Grupa C prezintă cele mai bune rezultate, Acest lucru poate indica un impact pozitiv al sportului asupra
                performanței academice.</li>
            <li>Datorită P-value-ului scăzut, acest lucru indică faptul că există o diferență semnificativă între
                grupurile care practică sport și cele care nu practică în ceea ce privește performanța academică</li>
            <li>Există diferențe semnificative între mijloacele grupurilor de sport.</li>
        </ul>
        <img src="2.png" alt="">
    </div>

    <div class="container container1">
        <h2 style="text-decoration: underline;">Tabele Semnificative</h2>
    </div>

    <div class="chartContainer container container1">
        <canvas id="q5"></canvas>
        <canvas id="q4"></canvas>
    </div>
    <div class="chartContainer container">
    </div>
    <div class="chartContainer container">
        <canvas id="q14"></canvas>
    </div>
    <div class="chartContainer container">
        <canvas id="q12"></canvas>
    </div>
    <div class="chartContainer container">
        <canvas id="q22"></canvas>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
    const firebaseConfig = {
        apiKey: "AIzaSyCSLkFUBTMTpsYhDdQnNmp_Z6fTuX-n-Pc",
        authDomain: "statistica-37759.firebaseapp.com",
        databaseURL: "https://statistica-37759-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "statistica-37759",
        storageBucket: "statistica-37759.appspot.com",
        messagingSenderId: "739551713354",
        appId: "1:739551713354:web:206319389bea7efb70aeb3"
    };
    const app = initializeApp(firebaseConfig);
    import { getDatabase, ref, child, get, set, update, remove } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-database.js"
    const db = getDatabase();

    let data5 = []
    let data4 = []
    let data14 = []
    let data12 = []
    let data22 = []

    function getData() {
        const studentsRef = ref(db);
        get(child(studentsRef, 'QuestionsCounter/questions/' + "q5")).then((snapshot) => {
            if (snapshot.exists()) {
                data5 = snapshot.val();
            }
        })
        get(child(studentsRef, 'QuestionsCounter/questions/' + "q4")).then((snapshot) => {
            if (snapshot.exists()) {
                data4 = snapshot.val();
            }
        })
        get(child(studentsRef, 'QuestionsCounter/questions/' + "q14")).then((snapshot) => {
            if (snapshot.exists()) {
                data14 = snapshot.val();
            }
        })
        get(child(studentsRef, 'QuestionsCounter/questions/' + "q12")).then((snapshot) => {
            if (snapshot.exists()) {
                data12 = snapshot.val();
            }
        })
        get(child(studentsRef, 'QuestionsCounter/questions/' + "q22")).then((snapshot) => {
            if (snapshot.exists()) {
                data22 = snapshot.val();
            }
        })
    }


    document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
            console.log("Getting data!")
            getData();
        }, 0);
    })

    // fast food BIO pratcica sport   fac sala   perf acada (cat a contribuit sportu) 

    //q5   q4   q14  q12  q22

    //ChartJs
    const q4 = document.getElementById('q4');
    const q5 = document.getElementById('q5');
    const q12 = document.getElementById('q12');
    const q14 = document.getElementById('q14');
    const q22 = document.getElementById('q22');

    setTimeout(() => {
        new Chart(q5, {
            type: 'bar',
            data: {
                labels: ['0-1 ori', '2-3 ori', 'de mai mult de 3 ori'],
                datasets: [{
                    label: 'Cat de des consuma studentii fast food?',
                    data: data5,
                    borderWidth: 1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        new Chart(q4, {
            type: 'bar',
            data: {
                labels: ['Niciodată', 'Rar', 'Ocazional', 'Des'],
                datasets: [{
                    label: 'Cati studenti consuma produse din gama bio',
                    data: data4,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(q12, {
            type: 'bar',
            data: {
                labels: ['0-1 zile', '2-3 zile', '4+',],
                datasets: [{
                    label: 'De cate ori merg studentii la sala(/saptamana)',
                    data: data12,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(q14, {
            type: 'bar',
            data: {
                labels: ['Da, practic', 'Nu, nu practic'],
                datasets: [{
                    label: 'Cati studenti practica un sport',
                    data: data14,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(q22, {
            type: 'bar',
            data: {
                labels: ['Deloc', 'Aproape deloc', 'Suficient', 'Mult', 'Foarte mult'],
                datasets: [{
                    label: 'Cati studenti cred ca activitatile sportive au contribuit la concentrarea lor academica',
                    data: data22,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


    }, 2000);
</script>




</html>